<html>
<head>
  <title>Sample Form</title>
</head>
<body>
  <h1>User Input Form</h1>
  <form action="./adduser" method="post">
    <input type="text" name="username", placeholder="Enter User name" />
    <input type="number" name="userage" placeholder="Enter User age" />
    <input type="text" name="userEdu" placeholder="Enter User Edu " />
    <button type="submit"  >Submit</button>
  </form>
  <script>

  </script>
</body>
</html>
